/* Job title scroller */

span#job-title:before {
  color: red;
  content: "Software";
  animation: jobScroller 5s infinite 0s;
}

@keyframes jobScroller {
  0% {
    content: "Software";
  }
  20% {
    content: "Systems";
  }
  40% {
    content: "Automation";
  }
  60% {
    content: "Network";
  }
  80% {
    content: "Cloud";
  }
}
