@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;  /* 400 */
  src: local("Noto Sans"),
       local("Noto Sans Regular"),
       url(NotoSans-Regular.ttf) format("truetype");
}

body {
  font: "Noto Sans", sans-serif;
  background-color: black;
  color: white;
}

div#wip {
  background-color: red;
  color: white;
  border: 3px dashed black;
  width: 100%;
  height: 32px;
}

header#top img {
  width: 100%;
}

span.red {
  color: red;
}

a {
  text-decoration: none;
}

/* Blur placeholder images */
article img[data-src] {
  filter: blur(0.2em);
}

article img {
  filter: blur(0em);
  transition: filter 0.5s;
}

